body {
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  background-color: lightcyan;
}



